
@{
    ViewBag.Title = "Dosyalar";
}

<h2>Dosyalar</h2>

<</h3>>Dosyalar</h3>

<div>
    @Html.ActionLink("Pdf dosya görüntüle", "PdfDosyaGoster", "Home")
    </div>

    <a href="~/Yeni Microsoft Word Belgesi.pdf">~/Yeni Microsoft Word Belgesi.pdf</a>iv>


deneme
    <div>
        @Html.ActionLink("Pdf dosya görüntüle", "PdfDosyaGoster", "Home")
    </div>
    <hr />
    <div>
        @Html.ActionLink("Metin indir", "MetinDosyasıIndir","Home")
    </div>

    <br />
    <br />
    <div>
        @Html.Partial("_KategorilerPartialPage")

        <br />
        <br />
        Buda olur
        @Html.Action("KategoriGetir")
    <br />
    <br />
        buda..
        @Html.Action("KategoriGetir2")
    </div>